
/* NAV ////////////////////////////////////////////////////////////////*/

nav {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    /* background-color: pink; */
    
}

/* Left Navigation */
.navLinks {
    margin-right: 100px;
    margin-bottom: 60px;
    width: 286px;
     /* background-color: chartreuse;   */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.navLinks img {
    width: 10px;
    margin-left: 3px;
}

.navLinks a {
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* Blog Drop Down Link */
.blog-DD:hover .blog-DD-content {
    display: flex;
}

.blog-DD a:hover {
    color: #FF3062;
}
.blog-DD-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0); */
    height: 80px;
    width: 120px; 
    /* justify-content: space-evenly; */
    flex-direction: column;
    padding-top: 10px;
    border-radius: 5px 5px 12px 12px;
}
.blog-DD:hover .blog-DD-content {
    display: flex;
}

.blog-DD-content a {
    font-size: 14px;
    color: #fff;
}

.blog-DD:hover .blog-DD-content {
    display: flex;
}

/* Shop Drop Down Link */
.shop-DD a:hover {
    color: #FF3062;
}
.shop-DD-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0); */
    height: 80px;
    width: 120px; 
    /* justify-content: space-evenly; */
    flex-direction: column;
    padding-top: 10px;
    border-radius: 5px 5px 12px 12px;
}
.shop-DD:hover .shop-DD-content {
    display: flex;
}

.shop-DD-content a {
    font-size: 14px;
    color: #fff;
}

.DD-item {
    margin-left: 5px;
}

.DD-item:hover a {
    color: #FF3062;
}

.teamDD:hover .teamDD-content {
    display: flex;
}

.teamDD a:hover {
    color: #FF3062;
}


.teamDD-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0); */
    height: 80px;
    width: 120px; 
    /* justify-content: space-evenly; */
    flex-direction: column;
    padding-top: 10px;
    border-radius: 5px 5px 12px 12px;
    
}

.teamDD-content a {
    font-size: 14px;
    color: #fff;
}

.teamMember {
    margin-left: 5px;
}


.teamMember:hover {
    background-color: rgb(212, 212, 212);
    height: 20px;
    width: 100%;
    margin-left: 0;
}
.teamMember:hover a {
    color: #FF3062;
}

.infoDD:hover {
    color: #FF3062;
}

.infoDD:hover .infoDD-content {
    display: flex;
}

.infoDD-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);  */
    height: 80px;
    min-width: 80px; 
    flex-direction: column;
    padding-top: 10px;
    border-radius: 5px 5px 12px 12px;
} 

.infoDD-content a {
    font-size: 14px;
    color: #fff;
}

.infoDD-link {
    margin-left: 5px;
}

.infoDD-link:hover a {
    color: #FF3062;
}

/* Logo/search box */
.logoContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: purple; */
    
}
.logo {
    max-width: 400px
    
}


.logoContainer p {
    font-size: 70%;
    font-family: "Helvetica-Ext-Light";
    color: #000000;
    margin-top: 16px;
    margin-right: 2%;
    
}

.search {
    width: 68%;
    height: 40px;
    margin-top: 24px;
    background-color: #efefef;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.search img {
    max-width: 19.5rem;
    max-height: 19.5rem;
}

/* right side NAV links */
.rightLinks {
    margin-bottom: 54px;
    /* background-color: brown; */
    /* min-width: 286px; */
    margin-left: 91px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.account {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 36px;

}

.bag {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.bag:hover {
    cursor: pointer;
}

.rightLinks a {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    text-decoration: none;
}

.account img {
    max-width: 27px;
    margin-right: 12px; 
}

.bag img {
    max-width: 21px;
    margin-right: 12px;
}

/* SHOPPING BAG ITEM LIST ////*/
#cart-items {
    font-size: 14px;
    font-family: "Helvetica-Ext-Light";



    background-color: #d3d3d3;
    color: #000000;
    position: absolute;
    left: 68%;
    top: 14%;
    width: 22%;
}

ol {
    display: flex;
    align-items: normal;
    padding-left: 0%;
    justify-content: space-evenly;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
    background-color: #FF3062;
}
ol li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px;
    border-color: #fff;
    color: #fff;
}

.remove {
    position: relative;
    left: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
}
/* end nav */