* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
html,
body {
    height: 100%;
}
h1, h2,h3,h4,h5,h6, p {
    margin-bottom: 16px;
}

img { 
	border: none;
	max-width: 100%;
}


/* FONTS */
@font-face {
    font-family: "Bungee";
    src: url(../fonts/BungeeShade-Regular.ttf);
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "Helvetica-Ext-Light";
    src: url(../fonts/HelveticaNeueLTStd-Ex.otf);
    font-weight: normal;
    font-style: italic;
  }  
   @font-face {
    font-family: "Helvetica-Ext-Med";
    src: url(../fonts/HelveticaNeueLTStd-MdEx.otf);
    font-weight: normal;
    font-style: italic;
  } 
 












/* TEAM SECTION /////////////////////////////////////////////////////*/
#team{
    margin-top: 20%;
    width: 100%;
    height: 100%;
    

}

.team {
    width: 100%;
    height: 100%;
}

.ourTeam img{
    width: 395px;
    position: relative;
    left: 10%;
    display: none;
}

.ourTeam h1{
    position: relative;
    left: 13.5%;
    top: -75px;
    font-size: 268%;
    color: red;
    font-family: "teamFont";

}

.teamBody {
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.teamBody img{
    width: 22%;
    padding: 1%;
    
}

.teamBodyText {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    /* background-color: khaki; */
}

.text1 {
    align-items: right;
    font-size: 12px;
    font-family: "teamFont";
    width: 30%;

    margin-top: 20px;
    justify-content: right;
    text-align: right;
    /* background-color: aqua; */
}

.text1 h2{
    font-size: 280%;
}

.text1 h3{
    font-size: 20px;
    color: white;
    background-color: red;
}

.text1 span{
    font-weight: bold;
}

.text2 {
    align-items: right;
    font-size: 12px;
    font-family: "teamFont";
    max-width: 400px;
    margin-left: 60px;
    margin-top: 20px;
    justify-content: right;
    text-align: right;
}

.text2 h2{
    font-size: 40px;
}

.text2 h3{
    font-size: 20px;
    color: white;
    background-color: red;
}

.text2 span{
    font-weight: bold;
}

.text3 {
    align-items: right;
    font-size: 12px;
    font-family: "teamFont";
    max-width: 400px;
    margin-left: 60px;
    margin-top: 20px;
    justify-content: right;
    text-align: right;
}

.text3 h2{
    font-size: 40px;
}

.text3 h3{
    font-size: 20px;
    color: white;
    background-color: red;
}

.text3 span{
    font-weight: bold;
}

@font-face {
    font-family: "teamFont";
    src: url(../fonts/HelveticaNeueLTStd-BdEx.otf);
  }


/*FOOTER///////////////////////////////////////////////////////////////*/
#footer {
    margin-top: 100px;
    width: ;
}
.footer {
    background-color: black;
    width: 100%;
    height: 550px;
    margin-top: 150px;
    margin-bottom: 0px;
}

.footer-logo {
    width: 60%;
    padding-left: 2%;
}
.titleImg {
    padding-top: 50px;
    padding-left: 5px;
}
.titleArrow {
    display:inline;
    position: relative;
    left: 25%;
    top: -40px;
}

@font-face {
    font-family: "hel1";
    src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
  }

.footerBody {
    color: white;
    font-size: 90%;
    text-align: left;
    display: flex;
    margin-top: 50px;
    font-family: "hel1";
    font-style: normal;
    
}

.vl{
    border-left: 1px solid white;
    height: 215px;
    margin-left: 75px;
    padding-right: 75px;
    margin-top: -20px;
}

.auFooter {
    padding-left: 280px; 
}

@font-face {
    font-family: "hel3";
    src: url(../fonts/HelveticaNeueLTStd-UltLtExO.otf);
  }

  @font-face {
    font-family: "hel4";
    src: url(../fonts/HelveticaNeueLTStd-Ex.otf);
  }

.inputFooter h2{
    margin-top: -100px;
    font-size: 55px;
    font-family: "hel3";
}

.inputFooter input{
    width: 450px;
    height: 50px;
    font-family: "hel4";
}

.inputFooter button{
    width: 70px;
    height: 50px;
    font-family: "hel4";
}

.inputFooter img{
    margin-right: 75px;
    margin-bottom: 20px;
}

@font-face {
    font-family: "hel2";
    src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
  }

.footerBottom {
    color: white;
    font-size: 13px;   
    display: flex;
    margin-top: 70px;
    font-family: "hel2";
    font-style: normal;
    margin-left: 30px;
    letter-spacing: 1px;
}

.space{
    margin-left: 155px;
}

.vl2{
    border-left: 1px solid white;
    height: 30px;
    margin-top: -5px;
    margin-left: 35px;
    padding-right: 35px;
}

.english {
    display: flex; 
    align-items: row;
    padding-bottom: 20px;
    margin-left: 15%;
}

.english img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
}


