* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
html,
body {
    height: 100%;
}
h1, h2,h3,h4,h5,h6, p {
    margin-bottom: 16px;
}

img { 
	border: none;
	max-width: 100%;
}

/* FONTS */
@font-face {
    font-family: "Bungee";
    src: url(../fonts/BungeeShade-Regular.ttf);
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "Helvetica-Ext-Light";
    src: url(../fonts/HelveticaNeueLTStd-Ex.otf);
    font-weight: normal;
    font-style: italic;
  }  
   @font-face {
    font-family: "Helvetica-Ext-Med";
    src: url(../fonts/HelveticaNeueLTStd-MdEx.otf);
    font-weight: normal;
    font-style: italic;
  } 

/* NAV */
nav {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    /* background-color: pink; */
    
}
/* Left Navigation */
.navLinks {
    margin-right: 100px;
    margin-bottom: 60px;
    width: 286px;
    /* background-color: chartreuse;  */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.navLinks img {
    width: 10px;
    margin-left: 3px;
}

.navLinks a {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* Blog Drop Down Link */
.blog-DD:hover .blog-DD-content {
    display: flex;
}

.blog-DD a:hover {
    color: #FF3062;
}
.blog-DD-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0); */
    height: 80px;
    width: 120px; 
    /* justify-content: space-evenly; */
    flex-direction: column;
    padding-top: 10px;
    border-radius: 5px 5px 12px 12px;
}
.blog-DD:hover .blog-DD-content {
    display: flex;
}

.blog-DD-content a {
    font-size: 14px;
    color: #fff;
}

.blog-DD:hover .blog-DD-content {
    display: flex;
}

/* Shop Drop Down Link */
.shop-DD a:hover {
    color: #FF3062;
}
.shop-DD-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0); */
    height: 80px;
    width: 120px; 
    /* justify-content: space-evenly; */
    flex-direction: column;
    padding-top: 10px;
    border-radius: 5px 5px 12px 12px;
}
.shop-DD:hover .shop-DD-content {
    display: flex;
}

.shop-DD-content a {
    font-size: 14px;
    color: #fff;
}

.DD-item {
    margin-left: 5px;
}

.DD-item:hover a {
    color: #FF3062;
}

.teamDD:hover .teamDD-content {
    display: flex;
}

.teamDD a:hover {
    color: #FF3062;
}


.teamDD-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0); */
    height: 80px;
    width: 120px; 
    /* justify-content: space-evenly; */
    flex-direction: column;
    padding-top: 10px;
    border-radius: 5px 5px 12px 12px;
    
}

.teamDD-content a {
    font-size: 14px;
    color: #fff;
}

.teamMember {
    margin-left: 5px;
}


.teamMember:hover {
    background-color: rgb(212, 212, 212);
    height: 20px;
    width: 100%;
    margin-left: 0;
}
.teamMember:hover a {
    color: #FF3062;
}

.infoDD:hover {
    color: #FF3062;
}

.infoDD:hover .infoDD-content {
    display: flex;
}

.infoDD-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);  */
    height: 80px;
    min-width: 80px; 
    flex-direction: column;
    padding-top: 10px;
    border-radius: 5px 5px 12px 12px;
} 

.infoDD-content a {
    font-size: 14px;
    color: #fff;
}

.infoDD-link {
    margin-left: 5px;
}

.infoDD-link:hover a {
    color: #FF3062;
}

/* Logo/search box */
.logoContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: purple; */
    
}


.logoContainer p {
    font-size: 14px;
    font-family: "Helvetica-Ext-Light";
    color: #000000;
    margin-right: 44px;
    margin-top: 16px;
    
}

.search {
    width: 332px;
    height: 46px;
    margin-top: 24px;
    background-color: #efefef;
    border-radius: 50px;
    display: flex;
    align-items: center;
    /* justify-items: center;  */
    justify-content: space-between;
    
}

.search img {
    width: 19.5px;
    height: 19.5px;
    margin-left: 25px;
}

/* right side NAV links */
.rightLinks {
    margin-bottom: 54px;
    /* background-color: brown; */
    /* min-width: 286px; */
    margin-left: 91px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.account {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 36px;

}

.bag {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.rightLinks a {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    text-decoration: none;
}

.account img {
    max-width: 27px;
    margin-right: 12px; 
}

.bag img {
    max-width: 21px;
    margin-right: 12px;
}


/* HERO IMG */

#shop {
    /* background-color: yellow; */
    min-width: 100%;
    min-height: 100%;
}

.sectHeading {
    margin-top: 50px;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: tomato; */
    margin-left: 292px;
    margin-bottom: 34px;
}
.sectHeading h2 {
    font-family: "Helvetica-Ext-Med";
    font-size: 26px;
}
.sectHeading p {
    font-family: "Helvetica-Ext-Med";
    font-size: 12px;
    text-decoration: none;
    padding-top: 10px;
}
.heroCont {
    
    width: 100%;
    height: 350px;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    
} 
.hero {
    width: 1300px;
    height: 340px;
    /* background-color: chartreuse; */
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.hero h2 {
    color: white;
    font-family: "High Tower";
    font-size: 54px;
    font-style: italic;
}

/* New Releases Albums */
.releases {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 44px;
    
}

.releases-row {
    height: 364px;
    min-width: 1300px;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.release-item {
    max-width: 295px;
    max-height: 295px;
    text-align: center;
    position: relative;
    /* background-color: aqua;  */
}


/*  */
.item-details {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    opacity: 0;

}


.release-item:hover .item-details {
    transition: 1s;
    opacity: .88;
    
}

.overlay {
    z-index: 2; 
}


.item-details p {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: .01rem;
}
.item-details span {
    margin-left: 12px;
}


.bttn-row {
    margin-top: 20px;
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.bttn-row button {
    
    width: 8rem;
    display: inline-block;
    border: none;
    padding: .7rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #7a7a79;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background 50ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.bttn-row button:hover,
.bttn-row button:focus {
    background: #FF3062;
    opacity: 1;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}







.release-item img {
    height: 295px;
    width: 295px;
}
.release-item p {
    margin-top: 8px;
    font-size: 14px;
    font-family: "Helvetica-Ext-Med";
}
.release-item span {
    font-style: italic;
    display: block;
    /* text-transform: uppercase; */
}

/* TEAM SEC STYLING */
.ourTeam img{
    padding-top: 50px;
    margin-left: 290px;
}

.ourTeam h1{
    margin-left: 390px;
    margin-top: -100px;
    font-size: 55px;
    color: red;
    font-family: "teamFont";

}

.teamBody {
    margin-left: 310px;
    margin-top: 150px;
}

.teamBody img{
    margin-right: 100px;
}

.teamBodyText {
    display: flex;
    flex-direction: row;
}

.text1 {
    align-items: right;
    font-size: 12px;
    font-family: "teamFont";
    max-width: 400px;
    margin-left: 260px;
    margin-top: 20px;
    justify-content: right;
    text-align: right;
}

.text1 h2{
    font-size: 40px;
}

.text1 h3{
    font-size: 20px;
    color: white;
    background-color: red;
}

.text1 span{
    font-weight: bold;
}

.text2 {
    align-items: right;
    font-size: 12px;
    font-family: "teamFont";
    max-width: 400px;
    margin-left: 60px;
    margin-top: 20px;
    justify-content: right;
    text-align: right;
}

.text2 h2{
    font-size: 40px;
}

.text2 h3{
    font-size: 20px;
    color: white;
    background-color: red;
}

.text2 span{
    font-weight: bold;
}

.text3 {
    align-items: right;
    font-size: 12px;
    font-family: "teamFont";
    max-width: 400px;
    margin-left: 60px;
    margin-top: 20px;
    justify-content: right;
    text-align: right;
}

.text3 h2{
    font-size: 40px;
}

.text3 h3{
    font-size: 20px;
    color: white;
    background-color: red;
}

.text3 span{
    font-weight: bold;
}

@font-face {
    font-family: "teamFont";
    src: url(../fonts/HelveticaNeueLTStd-BdEx.otf);
  }


/*footer styles*/
.footer {
    background-color: black;
    width: 100%;
    height: 550px;
    margin-top: 150px;
    margin-bottom: 0px;
}

.titleImg {
    padding-top: 50px;
    margin-left: 30px;
}
.titleArrow {
    margin-top: -10px;
    display:inline;
    position: relative;
    left: 45%;
}

@font-face {
    font-family: "hel1";
    src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
  }

.footerBody {
    color: white;
    font-size: 20px;
    text-align: left;
    display: flex;
    margin-top: 50px;
    font-family: "hel1";
    font-style: normal;
    
}

.vl{
    border-left: 1px solid white;
    height: 215px;
    margin-left: 75px;
    padding-right: 75px;
    margin-top: -20px;
}

.auFooter {
   margin-left: 280px;
}

@font-face {
    font-family: "hel3";
    src: url(../fonts/HelveticaNeueLTStd-UltLtExO.otf);
  }

  @font-face {
    font-family: "hel4";
    src: url(../fonts/HelveticaNeueLTStd-Ex.otf);
  }

.inputFooter h2{
    margin-top: -100px;
    font-size: 55px;
    font-family: "hel3";
}

.inputFooter input{
    width: 450px;
    height: 50px;
    font-family: "hel4";
}

.inputFooter button{
    width: 70px;
    height: 50px;
    font-family: "hel4";
}

.inputFooter img{
    margin-right: 75px;
    margin-bottom: 20px;
}

@font-face {
    font-family: "hel2";
    src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
  }

.footerBottom {
    color: white;
    font-size: 13px;   
    display: flex;
    margin-top: 70px;
    font-family: "hel2";
    font-style: normal;
    margin-left: 30px;
    letter-spacing: 1px;
}

.space{
    margin-left: 155px;
}

.vl2{
    border-left: 1px solid white;
    height: 30px;
    margin-top: -5px;
    margin-left: 35px;
    padding-right: 35px;
}

.english {
    display: flex;
    margin-left: 37%;
    align-items: row;
    padding-bottom: 20px;
}

.english img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
}


